<% provide(:title, 'Books List by Genre') %>
<h1>Books List by Genre</h1>
<table>
<% @genres.each do |genre| %>
<tr>
<th><a href="genre/<%= genre.genre %>"><%= genre.genre %></a></th>
<!--
<td>search</td>
-->
</tr>
<% end %>
</table>
<!--

-->
